.sortbuttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.sortbuttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.sortbuttons button:hover {
    color: #555;
}

.sortSelect {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
}